/* app/globals.css */
@import "tailwindcss";

/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

.textGradient {
  background: linear-gradient(90deg, #7c3aed 0%, #db2777 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.bgGradient{
  background: linear-gradient(90deg, #7c3aed 0%, #db2777 100%);
}